@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

body {
	text-align: left;
	background-image: url("../images/arkady_smoking_right.gif");
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
	font-family: Helvetica;  
	font-size: 16px;
}

hr {
	width: 100%;
	float: none;
}

h1 {
	color: #ffffff; 
	font-family: 'Abril Fatface';
	font-size: 5em; line-height: 1em;
	margin: -.125em;
}

nav {
	padding: .5em;
	font-family: 'Arial Black'; 
	color: #ffffff;
}

div {
  margin: 1em, 1em; padding: 2em; width: 50%; float: none;
}

#content {
	width: 25%;
	font-family: Georgia; 
	color: #ffffff;
	font-size: 1.25em;
}

#two_column {
	padding: .05em;
}

#left {
	padding: .05em;
	float: left;
	width: 25%;
	margin-bottom: .05em;
	font-size: 1.5 em;
	font-family: Georgia;
}
#right {
	padding: .05em;
	float: right;
	width: 25%;
	margin-bottom: .05em;
	text-align: right;
	font-family: 'Arial Black';
	font-size: 1.5em;
	color: red;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.slogan {
	font-size: 2em;
}
logo01 {
		width: 30%; height: 4em; border: 1em; margin: 1.5em;
	}
logo02 {
		width: 30%; height: 4em; border: 1em; margin: 1.5em;
	}
logo03 {
		width: 30%; height: 4em; border: 1em; margin: 1.5em;
	}

footer {
	  font-size: .5em; color: #ffffff; font-weight: heavy; margin: 1em, 1em; padding: 1em; 
}

@media only screen and (max-width: 768px) {
	#content {
		float: none;
		width: auto;
	}
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 3em;
	}
}