@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

body {
	text-align: left;
	background-image: url("../images/arkady_smoking_right.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	font-family: Helvetica;  
	font-size: 14px;
}

hr {
	width: 100%;
	float: none;
}

h1 {
	color: #ffffff; 
	font-family: 'Abril Fatface';
	font-size: 5em; line-height: 1em;
	margin: -.125em 0 2em;
	max-width: 60%;
}

h2 {
	font-size: 1.25em;
}

nav {
	height: 3em;
	padding: .5em;
	font-family: 'Arial Black'; 
	color: #ffffff;
	background-color: #49595E; opacity: .75; 
}

div {
  margin: 1em, 1em; padding: 2em; width: 100%; float: left;
}

#content {
	width: 20%;
	font-family: Georgia; 
	color: red;
	font-size: 1.25em;
}

.date {
	font-family: Courier;
	font-size: 2em;
	color: white;
}

#intro {
	font: Courier;
	margin: -2em;
	color: white;
}

#two_column {
	padding: .05em;
}

#left {
	padding: .75em 1em;
	float: left;
	width: 50%;
	margin-bottom: .05em;
	font-size: 1.5em; font-family: 'Palatino Linotype'; letter-spacing: .125em;
	color: #ffffff;
}
#right {
	padding: 0em 1em;
	float: right;
	width: 15%;
	margin-bottom: .05em;
	text-align: right;
	font-family: 'Arial Black';
	font-size: 2em;
	color: red;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.slogan {
	font-size: 2em;
}
logo01 {
		width: 30%; height: 4em; border: 1em; margin: 1.5em;
	}
logo02 {
		width: 30%; height: 4em; border: 1em; margin: 1.5em;
	}
logo03 {
		width: 30%; height: 4em; border: 1em; margin: 1.5em;
	}

footer {
	  font-size: .5em; color: #ffffff; font-weight: heavy; margin: 1em, 1em; padding: 1em; 
}

@media only screen and (max-width: 1020px) {
	body {
		background-size: 100%;
	}
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 4em;
	}
	div {
		margin: .5em;
	}
	.date {
		font-size: 100%;
	}
	#content {
		float: left;
		width: auto;
	}
	#left {
		font-size: 90%; margin-top: .375em;
	}
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 3em; margin-bottom: -1em;
	}

	.date {
		font-size: 100%;
	}
	#content {
		margin-bottom: -6em;
	}
	#intro {
		display: none;
	}
	#left {
		font-size: 85%; width: 20%; margin-top: -.75em;
	}
	#right {
		margin-top: -.025em;
	}
	.slogan {
		margin-top: 6em;
	}
}