
body {
	text-align: center;
	background-image: url("../images/5b144f3b39897e69e411bcbb516f01f3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Helvetica;  
}

hr {
	width: 200px;
}
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

h1 {
	color: #C2D673; 
	font-family: 'Abril Fatface';
}

.slogan {
	font-style: italic
}
